<div class="modal rtl-modal modal-with-banner" id="bottle-info-modal">
  <div class="modal-body">
    <div class="modal-head">
      <div class="left-group">
        <button class="icon-btn modal-close">
          <svg class="icon">
            <use href="#icon-arrow-left"></use>
          </svg>
        </button>
      </div>

      <div class="right-group">
        <button class="icon-btn favorite-btn">
          <svg class="icon">
            <use href="#icon-heart"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="block-bottle-info">
      <div class="bottle-head">
        <div class="bottle-head-banner">
          <img src="img/red-wine-bottle-info-banner-2x.jpg" alt="" />
        </div>
        <div class="bottle-head-info"></div>
      </div>
      <div class="bottle-body"></div>
    </div>
    <div class="btns">
      <div class="btn" data-target="take-bottle-drawer-modal">Take Wine Out</div>
    </div>
  </div>
</div>
