<div class="modal rtl-modal" id="unauthorized-unload-modal">
  <div class="modal-body">
    <div class="modal-head">
      <div class="right-group">
        <button class="icon-btn grey-btn">
          <svg class="icon"><use href="#icon-lock-open"></use></svg>
        </button>
      </div>
    </div>
    <div class="modal-title text-center">
      You Have Taken <br />
      the <strong></strong> <span></span> Out
    </div>

    <div class="taken-products">
      <div class="swiper-container">
        <div class="swiper-wrapper taken-products-inner"></div>
      </div>
    </div>

    <div class="counter text-center">
      <div class="counter-numbers">
        <!-- 59 -->
      </div>
      <div class="counter-annotation">
        Seconds Remaining Until Bottle <br />
        Take Out Confirmation.
      </div>
    </div>
  </div>
</div>
<!-- same as #take-bottle-success-modal -->
<div class="modal final-modal" id="unauthorized-unload-success-modal">
  <div class="modal-body">
    <div class="modal-head">
      <div class="right-group">
        <button class="icon-btn grey-btn">
          <svg class="icon"><use href="#icon-lock-open"></use></svg>
        </button>
      </div>
    </div>
    <div class="modal-title text-center">
      Take Wine Out <br />
      Successful
    </div>
    <div class="state-group big success">
      <div class="state-group-icon">
        <svg><use href="#icon-check"></use></svg>
      </div>
    </div>

    <div class="btns">
      <!-- <button class="btn white-btn" data-target="unload-bottle-welcome-modal">Take Wine More</button> -->
      <a href="/" class="btn">Go Back</a>
    </div>
  </div>
</div>
<!-- same as #take-bottle-success-modal -->
<div class="modal final-modal" id="unauthorized-returned-success-modal">
  <div class="modal-body">
    <div class="modal-head">
      <div class="right-group">
        <button class="icon-btn grey-btn">
          <svg class="icon"><use href="#icon-lock-open"></use></svg>
        </button>
      </div>
    </div>
    <div class="modal-title text-center">
      Returned <br />
      Successful
    </div>
    <div class="state-group big success">
      <div class="state-group-icon">
        <svg><use href="#icon-check"></use></svg>
      </div>
    </div>

    <div class="btns">
      <!-- <button class="btn white-btn" data-target="unload-bottle-welcome-modal">Take Wine More</button> -->
      <a href="/" class="btn">Go Back</a>
    </div>
  </div>
</div>

<include src="web/partials/sprite.html"></include>
